<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298785837882-22jqgtbhham95qkh347parlvfvtmn8h1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298785837882-22jqgtbhham95qkh347parlvfvtmn8h1</string>
	<key>API_KEY</key>
	<string>AIzaSyCp5y64L6w6trdEX5c4NNcyxxVEZE1GqhE</string>
	<key>GCM_SENDER_ID</key>
	<string>298785837882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RIT.Milardic.ParkUI-FinalProject</string>
	<key>PROJECT_ID</key>
	<string>iosmobileappfinalproject</string>
	<key>STORAGE_BUCKET</key>
	<string>iosmobileappfinalproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298785837882:ios:7d46423694e97efaaa3603</string>
	<key>DATABASE_URL</key>
	<string>https://iosmobileappfinalproject.firebaseio.com</string>
</dict>
</plist>